*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.task{
    padding: 10px;
    margin-bottom: 10px;
    background-color: #587977;
}
.theory{
    color: #fff;
}
.theory h2{
    text-align: center;
    margin:20px 0px;
}
.theory p{
    margin-bottom: 10px;
}
.practice{
    height: 450px;
    background-color: rgb(194, 219, 135);
    border-radius: 10px;
    display: flex;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(84, 103, 112);
    margin: 10px;
    color:#fff;
    border-radius: 10px;
    text-align: center;  
    align-content: center;  
    font-size: 24px;
}
.test-1{
    flex-wrap: nowrap;
}

.test-2{
    flex-wrap: wrap;
}

.test-3{
    flex-wrap: wrap-reverse;
}

.test-4{
    flex-direction: row;
}
.test-5{
    flex-direction: column;
}
.test-6{
    flex-direction:row-reverse;
    
}
.test-7{
    flex-direction:column-reverse;
    
}
.test-8{
    flex-flow:row wrap;
    
}
.test-9{
    flex-flow:row wrap-reverse;
    
}
.test-10{
    flex-flow:row nowrap;
    
}
.test-11{
    flex-flow:column wrap;
    
}
.test-12{
    flex-flow:column wrap-reverse;
    
}
.test-13{
    flex-flow:column nowrap;
}